


<%= simple_form_for(@socio) do |f| %>
  <%= f.error_notification %>

  <div class="modal-dialog">
      <div class="row">
        <div class="form-inputs">
          <div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">DATOS SOCIO DEMOGRÁFICO</h3>
  </div>
  <div class="panel-body">
    <%= f.association :worker,  label: 'Selecciona Trabajador' %>
    <%= f.input :sexo, placeholder: 'Masculino o Femenino', label: '2.- Genero :' %>
    <%= f.label :Fecha_nacimiento, '3.- Fecha de nacimiento :' %>
    <p>
    <%= f.date_select :fecha, start_year: 1950, end_year: 2015%>
    </p>
    <%= f.input :edad, placeholder: 'Ingresa edad en números', label: '4.- Edad :' %>

    <%= f.input :civil2, as: :radio_buttons,
        collection: ['Soltero', 'Casado', 'Separado', 'Viudo'], wrapper: :vertical_radio_and_checkboxes, label: '5.- Estado civil :' %>
    <%= f.input :hijo, placeholder: 'Ingresa número', label: '6.- Numero de hijos :' %>
    <%= f.input :hijo2, placeholder: 'Ingresa número', label: '7.- Cuantos viven con Ud. :' %>
    <%= f.input :contrato, placeholder: 'Escriba tipo de contrato ', label: '8.- Tipo de contrato :' %>
    <%= f.input :ocupacion, placeholder: 'Ingresa años', label: '9.- Tiempo que lleva en esta ocupación :' %>
    <%= f.input :temporga, placeholder: 'Ingresa años', label: '10.- Tiempo que lleva trabajando en esta organización :' %>
    <%= f.input :temptra, placeholder: 'Ingresa años ', label: '11.- Tiempo que lleva en este puesto de trabajo :' %>
    <%= f.input :estu, as: :radio_buttons,
        collection: ['1 a 8', '9 a 12', 'más de 12'], wrapper: :vertical_radio_and_checkboxes, label: '12.- Cuanto años de estudio Ud. tiene, a contar de primero básico  :' %>
    <%= f.input :cargo, placeholder: 'Escriba cargo ', label: '13.- En que cargo trabaja actualmente :' %>
    <%= f.input :unidad, placeholder: 'Escriba departamento o unidad',  label: '14.- En que departamento o unidad trabaja actualmente :' %>
    <%= f.association :region, label: '15.- Región donde vive :' %>
    <%= f.input :ciudad, placeholder: 'Escriba ciudad', label: '16.- Ciudad donde vive :' %>
    <%= f.label :trasla, '17.- Cuanto tiempo demora trasladarse desde su residencia al trabajo :' %>
    <p>
    <%= f.time_select :trasla, label: '18.- Cuanto tiempo demora trasladarse desde su residencia al trabajo :' %>
    </p>
  <div class="form-actions">

    <%= f.button :submit, "Guardar Datos", class: "btn-primary"%>

  </div>
</div>
</div>

</div>
</div>
</div>
</div>
</div>
<% end %>
