<%= simple_form_for(@habisueno) do |f| %>
  <%= f.error_notification %>

  <div class="modal-dialog">
      <div class="row">
        <div class="form-inputs">
          <div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">HÁBITOS DE SUEÑO</h3>
  </div>

  <div class="panel-body">
    <%= f.association :worker, label: 'Selecciona trabajador :' %>
    <%= f.label :despierta1 , label: ' Cuanto duerme ud. al final de sus vacaciones : '%>
    <%= f.input :despierta1 , placeholder: 'Ingrese minutos en rango de 15', label: ' 1.- ¿ a que hora se despierta? '%>
    <%= f.input :duerme1 , placeholder: 'Ingrese minutos en rango de 15', label: ' 2.-  ¿ a que hora se duerme? '%>
    <%= f.input :hora1 , placeholder: 'Ingrese total de horas pregunta nº 2 menos pregunta nº 1 ', label: ' 52.-   Nº de horas '%>
    <%= f.label :duerme2 , label: ' Cuanto está trabajando de noche y duerme en el día : '%>
    <%= f.input :duerme2 , placeholder: 'Ingrese minutos en rango de 15', label: ' 1.-  ¿ a que hora se duerme? '%>





  </div>

  <div class="form-actions">
<%= f.button :submit, "Guardar Datos", class: "btn-primary" %>
  </div>

</div>
</div>
</div>
<% end %>
