<p id="notice"><%= notice %></p>

<p>
  <strong>Despierta1:</strong>
  <%= @habisueno.despierta1 %>
</p>

<p>
  <strong>Worker:</strong>
  <%= @habisueno.worker %>
</p>

<%= link_to 'Edit', edit_habisueno_path(@habisueno) %> |
<%= link_to 'Back', habisuenos_path %>
