<%= simple_form_for(@entrev) do |f| %>
  <%= f.error_notification %>

  <div class="modal-dialog">
      <div class="row">
        <div class="form-inputs">
          <div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">ENTREVISTA CONDICIÓN MÉDICA</h3>
  </div>


  <div class="panel-body">
    <%= f.association :worker, label: 'Selecciona Trabajador :'%>
    <%= f.label :asma, 'ENFERMEDADES' %>
    <%= f.input :asma1, as: :radio_buttons,
        collection: ['Si', 'No'], wrapper: :vertical_radio_and_checkboxes, label: '17.- Asma :' %>
    <%= f.input :ano, placeholder: 'Si su respuesta es si, entonces ingrese año', label: 'Año' %>
    <%= f.input :tuber1, as: :radio_buttons,
        collection: ['Si', 'No'], wrapper: :vertical_radio_and_checkboxes, label: '18.- Tuberculosis :' %>
    <%= f.input :ano2,placeholder:'Si su respuesta es si, entonces ingrese año', label: 'Año' %>
    <%= f.input :arit1, as: :radio_buttons,
        collection: ['Si', 'No'], wrapper: :vertical_radio_and_checkboxes, label: '19.- Arritmias cardíacas :' %>
    <%= f.input :ano3,placeholder:'Si su respuesta es si, entonces ingrese año', label: 'Año' %>
    <%= f.input :infarto1, as: :radio_buttons,
        collection: ['Si', 'No'], wrapper: :vertical_radio_and_checkboxes, label: '20.- Infarto al corazón :' %>
    <%= f.input :ano4,placeholder:'Si su respuesta es si, entonces ingrese año', label: 'Año' %>
    <%= f.input :presion1, as: :radio_buttons,
        collection: ['Si', 'No'], wrapper: :vertical_radio_and_checkboxes, label: '21.-  Presión arterial elevada ( hipertensión ):' %>
    <%= f.input :ano5,placeholder:'Si su respuesta es si, entonces ingrese año', label: 'Año' %>
    <%= f.input :epilep1, as: :radio_buttons,
        collection: ['Si', 'No'], wrapper: :vertical_radio_and_checkboxes, label: '22.-  Epilepsia:' %>
    <%= f.input :ano6,placeholder:'Si su respuesta es si, entonces ingrese año', label: 'Año' %>
    <%= f.input :ezqui1, as: :radio_buttons,
        collection: ['Si', 'No'], wrapper: :vertical_radio_and_checkboxes, label: '23.-  Ezquizofrenia o alucinaciones : ' %>
    <%= f.input :ano7,placeholder:'Si su respuesta es si, entonces ingrese año', label: 'Año' %>
    <%= f.input :depre1, as: :radio_buttons,
        collection: ['Si', 'No'], wrapper: :vertical_radio_and_checkboxes, label: '24.-  Depresión: ' %>
    <%= f.input :ano8,placeholder:'Si su respuesta es si, entonces ingrese año', label: 'Año' %>
    <%= f.input :diabe1, as: :radio_buttons,
        collection: ['Si', 'No'], wrapper: :vertical_radio_and_checkboxes, label: '25.-  Diabetes ( azúcar elevada en la sangre) :' %>
    <%= f.input :ano9,placeholder:'Si su respuesta es si, entonces ingrese año', label: 'Año' %>
    <%= f.input :insom1, as: :radio_buttons,
        collection: ['Si', 'No'], wrapper: :vertical_radio_and_checkboxes, label: '26.- Insomnio o dificultad para dormir :' %>
    <%= f.input :ano10,placeholder:'Si su respuesta es si, entonces ingrese año', label: 'Año' %>
    <%= f.input :rini1, as: :radio_buttons,
        collection: ['Si', 'No'], wrapper: :vertical_radio_and_checkboxes, label: '27.- Rinitis alérgica :' %>
    <%= f.input :ano11,placeholder:'Si su respuesta es si, entonces ingrese año', label: 'Año' %>
    <%= f.input :derma1, as: :radio_buttons,
        collection: ['Si', 'No'], wrapper: :vertical_radio_and_checkboxes, label: '28.- Dermatitis alérgica :' %>
    <%= f.input :ano12,placeholder:'Si su respuesta es si, entonces ingrese año', label: 'Año' %>
    <%= f.input :hipo1, as: :radio_buttons,
        collection: ['Si', 'No'], wrapper: :vertical_radio_and_checkboxes, label: '29.- Hipotiroidismo ( tiroides funciona menos ) :' %>
    <%= f.input :ano13,placeholder:'Si su respuesta es si, entonces ingrese año', label: 'Año' %>
    <%= f.input :anem1, as: :radio_buttons,
        collection: ['Si', 'No'], wrapper: :vertical_radio_and_checkboxes, label: '30.- Anemia:' %>
    <%= f.input :ano14,placeholder:'Si su respuesta es si, entonces ingrese año', label: 'Año' %>
    <%= f.input :ulce1, as: :radio_buttons,
        collection: ['Si', 'No'], wrapper: :vertical_radio_and_checkboxes, label: '31.- Úlcera en el estómago : ' %>
    <%= f.input :ano15,placeholder:'Si su respuesta es si, entonces ingrese año', label: 'Año' %>
    <%= f.input :gast1, as: :radio_buttons,
        collection: ['Si', 'No'], wrapper: :vertical_radio_and_checkboxes, label: '32.- Gastritis o reflujo ( gastro-esofágico )  :' %>
    <%= f.input :ano16,placeholder:'Si su respuesta es si, entonces ingrese año', label: 'Año' %>
    <%= f.input :coles1, as: :radio_buttons,
        collection: ['Si', 'No'], wrapper: :vertical_radio_and_checkboxes, label: '33.- Colesterol alto  :' %>
    <%= f.input :ano17,placeholder:'Si su respuesta es si, entonces ingrese año', label: 'Año' %>
    <%= f.input :resis1, as: :radio_buttons,
        collection: ['Si', 'No'], wrapper: :vertical_radio_and_checkboxes, label: '34.- Resistencia a la insulina ( pre-diabetes ) :' %>
    <%= f.input :ano18,placeholder:'Si su respuesta es si, entonces ingrese año', label: 'Año' %>
    <%= f.input :rinit1, as: :radio_buttons,
        collection: ['Si', 'No'], wrapper: :vertical_radio_and_checkboxes, label: '35.- Rinitis ( aguda o crónica ) :' %>
    <%= f.input :ano19,placeholder:'Si su respuesta es si, entonces ingrese año', label: 'Año' %>
    <%= f.input :dolor1, as: :radio_buttons,
        collection: ['Si', 'No'], wrapper: :vertical_radio_and_checkboxes, label: '36.- Dolores de cabeza frecuentes :' %>
    <%= f.input :ano20,placeholder:'Si su respuesta es si, entonces ingrese año', label: 'Año' %>


    <%= f.input :otra, placeholder:'favor escriba aquí', label: '37.- Otra enfermedad? :' %>
    <%= f.label :antece, 'ANTECEDENTES QUIRURGICOS' %>
    <p>
    <%= f.label :antece, '38.- A usted ¿ Le ha operado de algo ? :' %>
    <p>
    <%= f.collection_radio_buttons :antece, [[1, '_Si'] ,[2, '_No'],  ], :first, :last, label: 'Estado Civil', item_wrapper_class: :block_radio_button_collection  %>
    <%= f.input :moti, label:'39.- Tipo de cirugía :' %>
    <%= f.input :ano21, label: 'Año' %>
    <%= f.input :antece1, label: 'Motivo de la cirugía' %>
    <%= f.label :emba, label: '40.- Antecedentes Obstétricos :' %>
    <%= f.input :emba, label: 'Embarazos' %>
    <%= f.input :parto, label: 'Partos' %>
    <%= f.input :perd, label: 'Perdidas' %>

  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>


    </div>
  </div>
  </div>

  </div>
<% end %>
