<p id="notice"><%= notice %></p>

<p>
  <strong>Worker:</strong>
  <%= @entrev.worker %>
</p>
<p>
  <strong>Asma:</strong>
  <%= @entrev.asma1 %>
</p>

<p>
  <strong>Año:</strong>
  <%= @entrev.ano %>
</p>
<p>
  <strong>Tuberculosis:</strong>
  <%= @entrev.tuber1 %>
</p>

<p>
  <strong>Año:</strong>
  <%= @entrev.ano2 %>
</p>
<p>
  <strong>Arritmia:</strong>
  <%= @entrev.arit1 %>
</p>
<p>
  <strong>Año:</strong>
  <%= @entrev.ano3 %>
</p>
<p>
  <strong>Infarto:</strong>
  <%= @entrev.infarto1 %>
</p>
<p>
  <strong>Año:</strong>
  <%= @entrev.ano4 %>
</p>
<p>
  <strong>Presión:</strong>
  <%= @entrev.presion1 %>
</p>
<p>
  <strong>Año:</strong>
  <%= @entrev.ano5 %>
</p>
<p>
  <strong>Epilepsia:</strong>
  <%= @entrev.epilep1 %>
</p>
<p>
  <strong>Año:</strong>
  <%= @entrev.ano6 %>
</p>
<p>
  <strong>Ezquizofrenia:</strong>
  <%= @entrev.ezqui1 %>
</p>
<p>
  <strong>Año:</strong>
  <%= @entrev.ano7 %>
</p>
<p>
  <strong>Depresión:</strong>
  <%= @entrev.depre1 %>
</p>
<p>
  <strong>Año:</strong>
  <%= @entrev.ano8 %>
</p>
<p>
  <strong>Diabetes:</strong>
  <%= @entrev.diabe1 %>
</p>
<p>
  <strong>Año:</strong>
  <%= @entrev.ano9 %>
</p>
<p>
  <strong>Insomnio:</strong>
  <%= @entrev.insom1 %>
</p>
<p>
  <strong>Año:</strong>
  <%= @entrev.ano10 %>
</p>
<p>
  <strong>Año:</strong>
  <%= @entrev.rini1 %>
</p>
<p>
  <strong>Año:</strong>
  <%= @entrev.ano11 %>
</p>

<p>
  <strong>Dermamtitis:</strong>
  <%= @entrev.derma1 %>
</p>
<p>
  <strong>Año:</strong>
  <%= @entrev.ano12 %>
</p>
<p>
  <strong>Hipotiroidismo:</strong>
  <%= @entrev.hipo1 %>
</p>
<p>
  <strong>Año:</strong>
  <%= @entrev.ano13 %>
</p>
<p>
  <strong>Anemia:</strong>
  <%= @entrev.anem1 %>
</p>
<p>
  <strong>Año:</strong>
  <%= @entrev.ano14 %>
</p>
<p>
  <strong>Úlcera:</strong>
  <%= @entrev.ulce1 %>
</p>
<p>
  <strong>Año:</strong>
  <%= @entrev.ano15 %>
</p>
<p>
  <strong>Gastritis:</strong>
  <%= @entrev.gast1 %>
</p>
<p>
  <strong>Año:</strong>
  <%= @entrev.ano16 %>
</p>
<p>
  <strong>Colesterol:</strong>
  <%= @entrev.coles1 %>
</p>
<p>
  <strong>Año:</strong>
  <%= @entrev.ano17 %>
</p>
<p>
  <strong>Insulina:</strong>
  <%= @entrev.resis1 %>
</p>
<p>
  <strong>Año:</strong>
  <%= @entrev.ano18 %>
</p>
<p>
  <strong>Rinitis aguda:</strong>
  <%= @entrev.rinit1 %>
</p>
<p>
  <strong>Año:</strong>
  <%= @entrev.ano19 %>
</p>
<p>
  <strong>Dolor cabeza:</strong>
  <%= @entrev.dolor1 %>
</p>
<p>
  <strong>Año:</strong>
  <%= @entrev.ano20 %>
</p>






<%= link_to 'Edit', edit_entrev_path(@entrev) %> |
<%= link_to 'Back', entrevs_path %>
