<div class="page-header">

	<div class="container">
		<div class="row">
			<div class="col-md-6 col-md-offset-3">


				<h2  align="center">Olvido su contraseña?</h2>

				<%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
				<%= f.error_notification %>

				<div class="form-inputs">
					<%= f.input :email, required: true, autofocus: true %>
				</div>

				<div class="form-actions">
					<%= f.button :submit, "Enviar para restablecer contraseña" %>
				</div>
				<% end %>

				<%= render "devise/shared/links" %>

				<p class="copyright text-muted small">Copyright &copy; INSSO 2015. Todos los derechos reservados.



				</div>

			</div>
		</div>


