<body>

    <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="<%= pages_codelco_path %>">
                        Codelco Chuquicamata
                    </a>
                </li>
                <li>
                    <a href="<%= pages_dashchuqui_path %>">Dashboard General</a>
                </li>
                <li>
                    <a href="<%= pages_nivelchuqui_path %>">Niveles División</a>
                </li>
                <li>
                    <a href="#">Métricas</a>
                </li>
                <li>
                    <a href="#">Informes </a>
                </li>

            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->


            <!-- Heading Row -->

<div class="container-fluid">


    <div class="jumbotron">
      <h1>Plataforma Médica Chuquicamata</h1>
      <p >Bienvenido a nuestra aplicación para su Division, acá encontrará toda la información necesaria segun su perfil de usuario del control médico de su personal.</p>
      <p><a class="btn btn-success btn-lg" href="<%= pages_dashchuqui_path %>" role="button">Empezar Aquí</a>
         <a class="btn btn-primary btn-lg" href="<%= pages_index_path %>" role="button">Volver a Insso</a></p>
    </div>


    <!-- Footer -->
    <footer>
        <div class="row">
            <div class="col-lg-12">
              <p align="center" class="copyright text-muted ">Copyright &copy; INSSO 2015. Todos los derechos reservados.</p>
            </div>
        </div>
    </footer>

        <!-- /.container -->

        <!-- jQuery -->
        <script src="js/jquery.js"></script>

        <!-- Bootstrap Core JavaScript -->
        <script src="js/bootstrap.min.js"></script>

    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Menu Toggle Script -->
    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    </script>

</body>
