<!-- Navigation -->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">EMPRESAS MINERAS</a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a href="<%= pages_principal_path %>">Volver Dashboard</a>
        </li>
        <li>
          <a href="#">Volver Insso</a>
        </li>
        <ul class="nav navbar-nav navbar-right">
          <% if defined?(Devise) %>
          <% if user_signed_in? %>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Account <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><%= link_to "Edit Account", edit_user_registration_path %></li>
              <li class="divider"></li>
              <li><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li>
            </ul>
          </li>
          <% else %>
          <li><%= link_to "Login", new_user_session_path %></li>
          <% end %>
          <% end %>
        </ul>
      </div><!-- /.navbar-collapse -->
    </ul>
  </div>
  <!-- /.navbar-collapse -->
</div>
<!-- /.container -->
</nav>

<!-- Page Content -->
<div class="container">

  <!-- Page Heading -->
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header" >Codelco Chile
        <small>Favor seleccione Division.</small>
      </h1>
    </div>

  </div>
  <!-- /.row -->

  <div class="row">


    <div class="col-md-3">

      <div class="list-group">
        <a href="<%= pages_empresas_path %>" class="list-group-item active", >CODELCO</a>
        <a href="<%= pages_collahuasi_path %>" class="list-group-item">COLLAHUASI</a>
        <a href="<%= pages_barrick_path %>" class="list-group-item">BARRICK</a>
        <div class="thumbnail">
        <img src="https://s3.amazonaws.com/insso/codelco.png" alt="" />
      </div>
      </div>
    </div>

    <div class="col-md-9">


      <div class="row">

        <div class="col-sm-4 col-lg-4 col-md-4">

          <div class="thumbnail">
            <div class="caption">
              <h3>Chuquicamata</h3>
              <p>
                II Región - Chile
              </p>
              <p>
                <a href="#" class="btn btn-primary">Ingresar</a>   <a href="#" class="btn btn-default">Información</a>
              </div>
            </div>
          </div>


          <div class="col-sm-4 col-lg-4 col-md-4">

            <div class="thumbnail">
              <div class="caption">
                <h3>Andina</h3>
                <p>
                  V Región - Chile
                </p>
                <p>
                  <a href="#" class="btn btn-primary">Ingresar</a>   <a href="#" class="btn btn-default">Información</a>
                </div>
              </div>
            </div>

            <div class="col-sm-4 col-lg-4 col-md-4">

              <div class="thumbnail">
                <div class="caption">
                  <h3>Teniente</h3>
                  <p>
                    VI Región - Chile
                  </p>
                  <p>
                    <a href="#" class="btn btn-primary">Ingresar</a>   <a href="#" class="btn btn-default">Información</a>
                  </div>
                </div>
              </div>

              <div class="col-sm-4 col-lg-4 col-md-4">

                <div class="thumbnail">
                  <div class="caption">
                    <h3>Ventanas</h3>
                    <p>
                      V Región - Chile
                    </p>
                    <p>
                      <a href="#" class="btn btn-primary">Ingresar</a>   <a href="#" class="btn btn-default">Información</a>
                    </div>
                  </div>
                </div>

                <div class="col-sm-4 col-lg-4 col-md-4">

                  <div class="thumbnail">
                    <div class="caption">
                      <h3>Gabriela Mistral</h3>
                      <p>
                        II Región - Chile
                      </p>
                      <p>
                        <a href="#" class="btn btn-primary">Ingresar</a>   <a href="#" class="btn btn-default">Información</a>
                      </div>
                    </div>
                  </div>

                  <div class="col-sm-4 col-lg-4 col-md-4">

                    <div class="thumbnail">
                      <div class="caption">
                        <h3>Ministro Hales</h3>
                        <p>
                          II Región - Chile
                        </p>
                        <p>
                          <a href="#" class="btn btn-primary">Ingresar</a>   <a href="#" class="btn btn-default">Información</a>
                        </div>
                      </div>
                    </div>


                    <div class="col-sm-4 col-lg-4 col-md-4">

                      <div class="thumbnail">
                        <div class="caption">
                          <h3>Radomiro Tomic</h3>
                          <p>
                            II Región - Chile
                          </p>
                          <p>
                            <a href="#" class="btn btn-primary">Ingresar</a>   <a href="#" class="btn btn-default">Información</a>
                          </div>
                        </div>
                      </div>


                      <div class="col-sm-4 col-lg-4 col-md-4">

                        <div class="thumbnail">
                          <div class="caption">
                            <h3>Salvador</h3>
                            <p>
                              III Región - Chile
                            </p>
                            <p>
                              <a href="#" class="btn btn-primary">Ingresar</a>   <a href="#" class="btn btn-default">Información</a>
                            </div>
                          </div>
                        </div>



                      </div>



                      <!-- /.container -->




                      <!-- Footer -->
                      <footer>
                        <div class="row">
                          <div class="col-lg-12"
                          <p class="copyright text-muted ">Copyright &copy; INSSO 2015. Todos los derechos reservados.</p>
                        </div>
                      </div>
                    </div>
                  </footer>
