<!-- Page Content -->

<div id="page-wrapper">


  <div id="wrapper">

    <!-- Sidebar -->
    <div id="sidebar-wrapper">
      <ul class="sidebar-nav">
        <li class="sidebar-brand">
          <a href="<%= pages_principal_path %>">
            Plataforma Médica
          </a>
        </li>
        <li>
          <a href="<%= pages_principal_path %>"><i class="fa fa-dashboard"></i>  Dashboard Principal</a>
        </li>
        <li>
          <a href="<%= pages_empresas_path %>"> <i class="fa fa-home"></i> Empresas</a>
        </li>
        <li>
          <a href="<%= pages_test_path %>">Tests Médicos</a>
        </li>
        <li>
          <a href="#">Pacientes Insso</a>
        </li>
        <li>
          <a href="#">Panel de Control </a>
        </li>

      </ul>
    </div>


    <!-- Page Content -->


    <!-- Page Heading -->
    <div class="container-fluid">

      <div class="panel panel-default">
        <div class="panel-body">
          <div class="row">
            <div class="col-lg-12">
              <h3 class="page-header" >Buscar por
                <small>nombre de trabajador, rut o empresa.</small>
              </h3>
            </div>
            <div class="col-md-6">
              <div id="custom-search-input">
                <div class="input-group col-md-12">
                  <input type="text" class="form-control input-lg" placeholder="Buscar" />
                  <span class="input-group-btn">
                    <button class="btn btn-info btn-lg" type="button">
                      <i class="glyphicon glyphicon-search"></i>
                    </button>
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-body">
      <div class="row">
        <div class="col-lg-12">
          <h3 class="page-header" >Dashboard general
            <small>Plataforma de encuestas.</small>
          </h3>
        </div>
      </div>
    </div>
  </div>

    </div>





    <!-- /.row -->

    <!-- Page Features -->


    <!-- /.row -->

    <div class="container-fluid">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="row">
            <div class="col-lg-3 col-md-6">
              <div class="panel panel-green">
                <div class="panel-heading">
                  <div class="row">
                    <div class="col-xs-3">
                      <i class="fa fa-building-o fa-3x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                      <div class="normal">Empresas Mineras</div>
                      <div> Insso</div>
                    </div>
                  </div>
                </div>
                <a href="<%= pages_empresas_path %>">
                  <div class="panel-footer">
                    <span class="pull-left">Ingresar</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                  </div>
                </a>
              </div>
            </div>

            <div class="col-lg-3 col-md-6">
              <div class="panel panel-green">
                <div class="panel-heading">
                  <div class="row">
                    <div class="col-xs-3">
                      <i class="fa fa-user fa-3x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                      <div class="normal">Trabajadores</div>
                      <div> Insso</div>
                    </div>
                  </div>
                </div>
                <a href="#">
                  <div class="panel-footer">
                    <span class="pull-left">Ingresar</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                  </div>
                </a>
              </div>
            </div>
            <div class="col-lg-3 col-md-6">
              <div class="panel panel-green">
                <div class="panel-heading">
                  <div class="row">
                    <div class="col-xs-3">
                      <i class="fa fa-edit fa-3x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                      <div class="normal">Encuestas Médicas</div>
                      <div>Insso </div>
                    </div>
                  </div>
                </div>
                <a href="<%= pages_test_path %>">
                  <div class="panel-footer">
                    <span class="pull-left">Ingresar</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                  </div>
                </a>
              </div>
            </div>
            <div class="col-lg-3 col-md-6">
              <div class="panel panel-green">
                <div class="panel-heading">
                  <div class="row">
                    <div class="col-xs-3">
                      <i class="fa fa-line-chart fa-3x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                      <div class="normal">Métricas</div>
                      <div>Graficos generales</div>
                    </div>
                  </div>
                </div>
                <a href="#">
                  <div class="panel-footer">
                    <span class="pull-left">Ingresar</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                  </div>
                </a>
              </div>
            </div>



          </div>
        </div>
      </div>
    </div>



    <!-- /.row -->



    <!-- Footer -->
    <footer>
      <div class="row">
        <div class="col-lg-12">
          <p align="center" class="copyright text-muted ">Copyright &copy; INSSO 2015. Todos los derechos reservados.</p>
        </div>
      </div>
    </footer>
