<!-- Page Content -->

<div class="container-fluid">



  <div id="page-wrapper">


    <div id="wrapper">

      <!-- Sidebar -->
      <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
          <li class="sidebar-brand">
            <a href="<%= pages_principal_path %>">
                Plataforma Médica
            </a>
        </li>
        <li>
            <a href="<%= pages_principal_path %>">Dashboard General</a>
        </li>
        <li>
            <a href="<%= pages_empresas_path %>">Empresas</a>
        </li>
        <li>
            <a href="<%= pages_test_path %>">Tests Médicos</a>
        </li>
        <li>
            <a href="#">Pacientes Insso</a>
        </li>
        <li>
            <a href="#">Panel de Control </a>
        </li>


      </ul>
    </div>


    <div class="container-fluid">

      <!-- Page Heading -->
      <div class="row">
        <div class="col-lg-12">
          <h1 class="page-header">
            Tests y Encuestas Médicas <small>Seleccione para ingresar </small>
          </h1>
          <ol class="breadcrumb">
            <li>
              <i class="fa fa-dashboard"></i>  <a href="<%= pages_principal_path %>">Dashboard</a>
            </li>
            <li class="active">
              <i class="fa fa-table"></i> Test y Encuestas
            </li>
          </ol>
        </div>
      </div>

      <!-- /.row -->
      <!-- /.row -->

      <div class="row">

          <div class="col-lg-3 col-md-6">
              <div class="panel panel-primary">
                  <div class="panel-heading">
                      <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-edit fa-3x"></i>
                        </div>
                          <div class="col-xs-9 text-right">
                              <div class="huge">Test 1</div>
                              <div class="text-left">Dato demográfico</div>
                          </div>
                      </div>
                  </div>
                  <a href="#">
                      <div class="panel-footer">
                          <span class="pull-left">Ingresar</span>
                          <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                          <div class="clearfix"></div>
                      </div>
                  </a>
              </div>
          </div>
          <div class="col-lg-3 col-md-6">
              <div class="panel panel-primary">
                  <div class="panel-heading">
                      <div class="row">
                          <div class="col-xs-3">
                              <i class="fa fa-edit fa-3x"></i>
                          </div>
                          <div class="col-xs-9 text-right">
                              <div class="huge">Test 2</div>
                              <div>Entrevista  médica</div>
                          </div>
                      </div>
                  </div>
                  <a href="#">
                      <div class="panel-footer">
                          <span class="pull-left">Ingresar</span>
                          <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                          <div class="clearfix"></div>
                      </div>
                  </a>
              </div>
          </div>
          <div class="col-lg-3 col-md-6">
              <div class="panel panel-primary">
                  <div class="panel-heading">
                      <div class="row">
                          <div class="col-xs-3">
                              <i class="fa fa-edit fa-3x"></i>
                          </div>
                          <div class="col-xs-9 text-right">
                              <div class="huge">Test 3</div>
                              <div>Exámen Físico</div>
                          </div>
                      </div>
                  </div>
                  <a href="<%= pages_test_path %>">
                      <div class="panel-footer">
                          <span class="pull-left">Ingresar</span>
                          <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                          <div class="clearfix"></div>
                      </div>
                  </a>
              </div>
          </div>
          <div class="col-lg-3 col-md-6">
              <div class="panel panel-primary">
                  <div class="panel-heading">
                      <div class="row">
                          <div class="col-xs-3">
                              <i class="fa fa-edit fa-3x"></i>
                          </div>
                          <div class="col-xs-9 text-right">
                              <div class="huge">Test 4</div>
                              <div>Hábitos del sueño</div>
                          </div>
                      </div>
                  </div>
                  <a href="#">
                      <div class="panel-footer">
                          <span class="pull-left">Ingresar</span>
                          <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                          <div class="clearfix"></div>
                      </div>
                  </a>
              </div>
          </div>
          <div class="col-lg-3 col-md-6">
              <div class="panel panel-primary">
                  <div class="panel-heading">
                      <div class="row">
                          <div class="col-xs-3">
                              <i class="fa fa-edit fa-3x"></i>
                          </div>
                          <div class="col-xs-9 text-right">
                              <div class="huge">Test 5</div>
                              <div>Habitos Alimentarios</div>
                          </div>
                      </div>
                  </div>
                  <a href="#">
                      <div class="panel-footer">
                          <span class="pull-left">Ingresar</span>
                          <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                          <div class="clearfix"></div>
                      </div>
                  </a>
              </div>
          </div>
          <div class="col-lg-3 col-md-6">
              <div class="panel panel-primary">
                  <div class="panel-heading">
                      <div class="row">
                          <div class="col-xs-3">
                              <i class="fa fa-edit fa-3x"></i>
                          </div>
                          <div class="col-xs-9 text-right">
                              <div class="huge">Test 6</div>
                              <div>Mal agudo montaña</div>
                          </div>
                      </div>
                  </div>
                  <a href="#">
                      <div class="panel-footer">
                          <span class="pull-left">Ingresar</span>
                          <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                          <div class="clearfix"></div>
                      </div>
                  </a>
              </div>
          </div>
          <div class="col-lg-3 col-md-6">
              <div class="panel panel-primary">
                  <div class="panel-heading">
                      <div class="row">
                          <div class="col-xs-3">
                              <i class="fa fa-edit fa-3x"></i>
                          </div>
                          <div class="col-xs-9 text-right">
                              <div class="huge">Test 7</div>
                              <div>Escala de Epworth</div>
                          </div>
                      </div>
                  </div>
                  <a href="#">
                      <div class="panel-footer">
                          <span class="pull-left">Ingresar</span>
                          <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                          <div class="clearfix"></div>
                      </div>
                  </a>
              </div>
          </div>
          <div class="col-lg-3 col-md-6">
              <div class="panel panel-primary">
                  <div class="panel-heading">
                      <div class="row">
                          <div class="col-xs-3">
                              <i class="fa fa-edit fa-3x"></i>
                          </div>
                          <div class="col-xs-9 text-right">
                              <div class="huge">Test 8</div>
                              <div>ISTAS 21</div>
                          </div>
                      </div>
                  </div>
                  <a href="#">
                      <div class="panel-footer">
                          <span class="pull-left">Ingresar</span>
                          <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                          <div class="clearfix"></div>
                      </div>
                  </a>
              </div>
          </div>
          <div class="col-lg-3 col-md-6">
              <div class="panel panel-primary">
                  <div class="panel-heading">
                      <div class="row">
                          <div class="col-xs-3">
                              <i class="fa fa-edit fa-3x"></i>
                          </div>
                          <div class="col-xs-9 text-right">
                              <div class="huge">Test 9</div>
                              <div>PFOA</div>
                          </div>
                      </div>
                  </div>
                  <a href="#">
                      <div class="panel-footer">
                          <span class="pull-left">Ingresar</span>
                          <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                          <div class="clearfix"></div>
                      </div>
                  </a>
              </div>
          </div>
          <div class="col-lg-3 col-md-6">
              <div class="panel panel-primary">
                  <div class="panel-heading">
                      <div class="row">
                          <div class="col-xs-3">
                              <i class="fa fa-edit fa-3x"></i>
                          </div>
                          <div class="col-xs-9 text-right">
                              <div class="huge">Test 10</div>
                              <div>Pittsburgh</div>
                          </div>
                      </div>
                  </div>
                  <a href="#">
                      <div class="panel-footer">
                          <span class="pull-left">Ingresar</span>
                          <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                          <div class="clearfix"></div>
                      </div>
                  </a>
              </div>
          </div>
      </div>
    </div>



      <!-- /.row -->
