

<%= simple_form_for @worker, :html => { multipart: true, :class => 'form-horizontal' }, wrapper: :horizontal_form, wrapper_mappings: { check_boxes: :horizontal_radio_and_checkboxes, radio_buttons: :horizontal_radio_and_checkboxes, file: :horizontal_file_input, boolean: :horizontal_boolean } do |f| %>
    <%= f.input :name, label: 'Nombre Completo' %>
    <%= f.input :rut, label: 'Rut' %>
    <%= f.input :address, label: 'Dirección particular' %>
    <%= f.input :latitude %>
    <%= f.input :longitude %>
    <%= f.association :company, label: 'Compañía' %>
    <%= f.association :division, label: 'División' %>
    <%= f.association :bpstest, label: 'Asignar encuesta' %>
    <%= f.input :file, label: 'Archivo medico' %>
    <%= f.input :picture, label: 'Fotografía'  %>
  <div class="form-group">
    <div class='col-sm-offset-3 col-sm-9'>
      <%= f.button :submit, "Crear trabajador", :class => 'btn-primary'  %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                  workers_path, :class => 'btn btn-default' %>
    </div>
  </div>
<% end %>
