<%= simple_form_for(@exfisico) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :peso %>
    <%= f.association :worker %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
