<p id="notice"><%= notice %></p>

<p>
  <strong>Peso:</strong>
  <%= @exfisico.peso %>
</p>

<p>
  <strong>Worker:</strong>
  <%= @exfisico.worker %>
</p>

<%= link_to 'Edit', edit_exfisico_path(@exfisico) %> |
<%= link_to 'Back', exfisicos_path %>
