<p id="notice"><%= notice %></p>

<p>
  <strong>Peso:</strong>
  <%= @examan.peso %>
</p>

<p>
  <strong>Worker:</strong>
  <%= @examan.worker %>
</p>

<%= link_to 'Edit', edit_examan_path(@examan) %> |
<%= link_to 'Back', examen_path %>
